@layer lib;
@layer lib.styles_typography__18onbx41 {
  @media screen and (min-width: 600px) {
    a {
      color: green;
    }
  }
}
@layer lib.styles_base__18onbx40 {
  a {
    color: red;
    font-weight: 800;
  }
  .styles_link__18onbx43 {
    color: #00f;
  }
}
@layer lib.styles_utilities__18onbx42 {
  .styles_pink__18onbx44 {
    color: #ff69b4;
  }
}
