@layer lib;
@layer lib._1sqkzjx1 {
  @media screen and (min-width: 600px) {
    a {
      color: green;
    }
  }
}
@layer lib._1sqkzjx0 {
  a {
    color: red;
    font-weight: 800;
  }
  ._1sqkzjx3 {
    color: #00f;
  }
}
@layer lib._1sqkzjx2 {
  ._1sqkzjx4 {
    color: #ff69b4;
  }
}
