@layer lib;
@layer lib._18onbx40;
@media screen and (min-width: 600px) {
  @layer typography;
}
@layer lib._18onbx42;
@layer typography;
@layer lib._18onbx40 {
  a {
    font-weight: 800;
    color: red;
  }
  ._18onbx41 {
    color: blue;
  }
}
@media screen and (min-width: 600px) {
  @layer typography {
    a {
      color: green;
      font-size: 1.5rem;
    }
  }
}
@layer lib._18onbx42 {
  ._18onbx43 {
    color: hotpink;
  }
}
