._103pmpm2 {
  --_103pmpm0: powderblue;
  --_103pmpm1: white;
}
._103pmpm3 {
  --_103pmpm0: crimson;
  --_103pmpm1: black;
}
._103pmpm4 {
  border: 0;
}
._103pmpm5 {
  border-radius: 6px;
  background: var(--_103pmpm0);
  color: var(--_103pmpm1);
  transition: all 0.2s ease;
}
._103pmpm5:hover {
  transform: translateY(-3px);
}
._103pmpm6 {
  font-size: 16px;
  line-height: 24px;
}
._103pmpm7 {
  font-size: 24px;
  line-height: 40px;
}
._103pmpm9:hover {
  box-shadow: 0 10px 6px -6px #777;
}
._103pmpma {
  font-weight: 700;
}
._103pmpmc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
._103pmpmd {
  gap: 20px;
}
@media only screen and (min-width: 600px) {
  ._103pmpmb {
    border: 2px green solid;
  }
  ._103pmpmd {
    gap: 30px;
  }
}
