.styles_calm__spi1fr2 {
  --bg__spi1fr0: powderblue;
  --fg__spi1fr1: white;
}
.styles_angry__spi1fr3 {
  --bg__spi1fr0: crimson;
  --fg__spi1fr1: black;
}
.styles_reset__spi1fr4 {
  border: 0;
}
.styles_button__spi1fr5 {
  border-radius: 6px;
  background: var(--bg__spi1fr0);
  color: var(--fg__spi1fr1);
  transition: all 0.2s ease;
}
.styles_button__spi1fr5:hover {
  transform: translateY(-3px);
}
.styles_button_size_small__spi1fr6 {
  font-size: 16px;
  line-height: 24px;
}
.styles_button_size_standard__spi1fr7 {
  font-size: 24px;
  line-height: 40px;
}
.styles_button_tone_angry__spi1fr9:hover {
  box-shadow: 0 10px 6px -6px #777;
}
.styles_button_bold_true__spi1fra {
  font-weight: bold;
}
.styles_stack__spi1frc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.styles_stack_space_medium__spi1frd {
  gap: 20px;
}
@media only screen and (min-width: 600px) {
  .styles_button_compound_0__spi1frb {
    border: 2px green solid;
  }
  .styles_stack_space_medium__spi1frd {
    gap: 30px;
  }
}
