# See https://help.github.com/articles/about-codeowners/ for more info
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @seek-oss/stylust-maintainers
