node_modules
dist
tsconfig.tsbuildinfo
packages/**/README.md
!packages/sprinkles/README.md
!packages/integration/README.md
!packages/compiler/README.md
test-results
.parcel-cache

.pnp.*
.next
.DS_Store
.idea
