node_modules
dist
tsconfig.tsbuildinfo
yarn-error.log
packages/**/README.md
!packages/sprinkles/README.md
!packages/integration/README.md


.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*