<div [ngClass]="styles.layout">
  <div [ngClass]="styles.card">
    <div [ngClass]="styles.column">
      <h1 [ngClass]="styles.heading">
        <span role="img" aria-label="Waving hand"> 👋 </span>
        <span role="img" aria-label="vanilla-extract logo"> 🧁 </span>
        <span role="img" aria-label="Sprinkles logo"> 🍨 </span>
      </h1>
      <h2 [ngClass]="styles.subheading">
        Hello from vanilla-extract and Sprinkles
        <em class="angular">in Angular!</em>
      </h2>
    </div>
  </div>
</div>
