._87f2ru0 {
  height: 50px;
}
._87f2ru0:after {
  content: "Below 700px";
  display: block;
}
._87f2ru1 {
  background-color: powderblue;
}
._87f2ru1:hover {
  background-color: slategray;
}
._87f2ru2 {
  background-color: powderblue;
}
._87f2ru2:hover {
  background-color: slategray;
}
._87f2ru3 {
  background-color: powderblue;
}
._87f2ru3:hover {
  background-color: slategray;
}
._87f2ru5 {
  color: white;
}
._87f2ru6 {
  background-color: black;
}
body ._87f2ru7 {
  font-size: 24px;
}
._87f2ru8 {
  color: white;
}
._87f2ru9 {
  background-color: black;
}
body ._87f2rua {
  font-size: 24px;
}
@media screen and (min-width: 700px) {
  ._87f2ru0 {
    color: plum;
  }
  ._87f2ru0:after {
    content: "Above 700px";
  }
}
