._87f2ru0 {
  height: 50px;
}
._87f2ru0:after {
  content: "Below 700px";
  display: block;
}
._87f2ru1 {
  background-color: #b0e0e6;
}
._87f2ru1:hover {
  background-color: #708090;
}
._87f2ru2 {
  background-color: #b0e0e6;
}
._87f2ru2:hover {
  background-color: #708090;
}
._87f2ru3 {
  background-color: #b0e0e6;
}
._87f2ru3:hover {
  background-color: #708090;
}
._87f2ru5 {
  color: #fff;
}
._87f2ru6 {
  background-color: #000;
}
body ._87f2ru7 {
  font-size: 24px;
}
._87f2ru8 {
  color: #fff;
}
._87f2ru9 {
  background-color: #000;
}
body ._87f2rua {
  font-size: 24px;
}
._87f2rub {
  background-color: #000;
}
@media screen and (width >= 700px) {
  ._87f2ru0 {
    color: plum;
  }
  ._87f2ru0:after {
    content: "Above 700px";
  }
}
@starting-style {
  ._87f2rub {
    background-color: #fff;
  }
}
