.features_mergedStyle__87f2ru0 {
  height: 50px;
}
.features_mergedStyle__87f2ru0:after {
  content: "Below 700px";
  display: block;
}
.features_styleWithComposition__87f2ru1 {
  background-color: powderblue;
}
.features_styleWithComposition__87f2ru1:hover {
  background-color: slategray;
}
.features_styleVariantsWithComposition_variant__87f2ru2 {
  background-color: powderblue;
}
.features_styleVariantsWithComposition_variant__87f2ru2:hover {
  background-color: slategray;
}
.features_styleVariantsWithMappedComposition_variant__87f2ru3 {
  background-color: powderblue;
}
.features_styleVariantsWithMappedComposition_variant__87f2ru3:hover {
  background-color: slategray;
}
.features_styleCompositionInSelector__87f2ru5 {
  color: white;
}
.features_styleCompositionInSelector__87f2ru6 {
  background-color: black;
}
body .features_styleCompositionInSelector__87f2ru7 {
  font-size: 24px;
}
.features_styleVariantsCompositionInSelector_variant__87f2ru8 {
  color: white;
}
.features_styleVariantsCompositionInSelector_variant__87f2ru9 {
  background-color: black;
}
body .features_styleVariantsCompositionInSelector_variant__87f2rua {
  font-size: 24px;
}
.features_styleWithStartingStyle__87f2rub {
  background-color: black;
  @starting-style {
    background-color: white;
  }
}
@media screen and (min-width: 700px) {
  .features_mergedStyle__87f2ru0 {
    color: plum;
  }
  .features_mergedStyle__87f2ru0:after {
    content: "Above 700px";
  }
}
