@layer cvta177;
@layer globalThemeLayer;
:root,
.cvta170 {
  --cvta171: blue;
  --cvta172: white;
  --cvta173: 4px;
  --cvta174: 8px;
  --cvta175: 12px;
}
.cvta176 {
  --cvta171: green;
  --cvta172: white;
  --cvta173: 8px;
  --cvta174: 12px;
  --cvta175: 16px;
}
.cvta17e {
  --cvta171: pink;
  --cvta172: purple;
  --cvta173: 6px;
  --cvta174: 12px;
  --cvta175: 18px;
}
@layer cvta177 {
  .cvta178 {
    --cvta179: green;
    --cvta17a: white;
    --cvta17b: 8px;
    --cvta17c: 12px;
    --cvta17d: 16px;
  }
}
@layer globalThemeLayer {
  :root {
    --cvta179: green;
    --cvta17a: white;
    --cvta17b: 8px;
    --cvta17c: 12px;
    --cvta17d: 16px;
  }
}
@media screen and (min-width: 768px) {
  .cvta17e {
    --cvta171: purple;
    --cvta172: pink;
  }
}
._4dtfen0 {
  box-shadow: 0 0 5px red;
}
body {
  background-color: skyblue;
}
body,
button {
  line-height: 16px;
}
@font-face {
  src: local("Impact");
  font-family: "jteyb10";
}
@font-face {
  src: local("Comic Sans MS");
  font-family: MyGlobalComicSans;
}
.jteyb11 {
  display: flex;
  flex-direction: column;
  gap: var(--cvta174);
  padding: var(--cvta175);
}
.jteyb12 {
  z-index: 1;
  position: relative;
}
.jteyb13 {
  font-family: "jteyb10";
  background-color: var(--cvta171, "THIS FALLBACK VALUE SHOULD NEVER BE USED");
  color: var(--cvta172);
  border-radius: 9999px;
}
.cvta176 .cvta170 .jteyb11 .jteyb13 {
  font-family: MyGlobalComicSans;
  outline: 5px solid red;
}
body .jteyb12:after {
  content: "I am content";
}
html .jteyb16 {
  opacity: var(--jteyb14, 0.5);
}
html .jteyb17 {
  opacity: var(--jteyb14, var(--jteyb15, 0.25));
}
@media only screen and (min-width: 500px) {
  .jteyb11 {
    border: 1px solid var(--cvta171);
  }
  .jteyb13 {
    padding: var(--cvta173);
  }
}
@media only screen and (min-width: 1000px) {
  .jteyb13 {
    padding: var(--cvta174);
  }
}
