.\[\]_emptySquareBrackets__13abg9g0 {
  color: blue;
}
.\[id\]_singleSquareBracketsId__1d2wsrw0 {
  color: tomato;
}
.\[\[id\]\]_doubleSquareBracketId__1aosxxv0 {
  color: darkkhaki;
}
.\[___slug\]_catchAllSegment__169etlp0 {
  color: lime;
}
.\[\[___slug\]\]_optionalCatchAllSegment__1kvknas0 {
  color: orchid;
}
.\[blog-id\]_withHyphen__1e83mlh0 {
  color: indigo;
}
