.\[\]_emptySquareBrackets__13abg9g0 {
  color: blue;
}
.\[id\]_singleSquareBracketsId__1d2wsrw0 {
  color: tomato;
}
.\[\[id\]\]_doubleSquareBracketId__1aosxxv0 {
  color: darkkhaki;
}
.\[\.\.\.slug\]_catchAllSegment__169etlp0 {
  color: lime;
}
.\[\[\.\.\.slug\]\]_optionalCatchAllSegment__1kvknas0 {
  color: orchid;
}
