.styles_container__cj5d032 {
  container: styles_my-container__cj5d031/size;
  width: 500px;
}
.styles_block__cj5d033 {
  --color__cj5d030: blue;
  background-color: var(--color__cj5d030);
  padding: 20px;
}
@media screen and (min-width: 200px) {
  @container styles_my-container__cj5d031 (min-width: 400px) {
    .styles_block__cj5d033 {
      color: #fff;
    }
  }
}
