name: Validate

on: [push, pull_request]

jobs:
  test:
    name: Lint & Test
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.23.1

      - name: Checkout Repo
        uses: actions/checkout@main

      - name: Setup Node.js 14.x
        uses: actions/setup-node@main
        with:
          node-version: 14.x
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm i

      - name: Build
        run: pnpm build && node ./site/makeDocsManifest

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test:jest
  playwright:
    name: Playwright tests
    runs-on: macos-11
    env:
      CI: true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main

      - name: Setup Node.js 14.x
        uses: actions/setup-node@main
        with:
          node-version: 14.x

      - name: Install Dependencies
        run: pnpm i

      - name: Install Browsers
        run: pnpm playwright install chromium

      - name: Build packages
        run: pnpm build

      - name: Screenshot tests
        run: pnpm test:playwright

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-results
          path: test-results/
